@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Poppins', sans-serif;
}

.underline-link {
    @apply w-0 transition-all duration-300 group-hover:border-orange-300 group-hover:w-full;
}

body,
html {
    overflow-x: hidden;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-slate-100
}


.hamburger-active>span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.hamburger-active>span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active>span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

.staro {
    @apply mt-2
}

.swiper-pagination-bullet-active {
    @apply bg-orange-500
}

.brands {
    @apply hover:text-orange-500 transition-all duration-300
}

.responsive-svg {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 425px) {
    .responsive-svg {
        width: 300px;
        height: 300px;
    }
}

.linear-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(12, 74, 110));
    width: 100%;
    height: 30%;
}

.container {
    position: relative;
    /* Kontainer harus relative untuk positioning absolute di dalamnya */
    overflow: hidden;
    /* Menghindari elemen keluar dari kontainer */
}

.timeline {
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 4px;
    background-color: #cbd5e0;
    /* Gray-400 */
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 50%;
    padding-left: 40px;
    text-align: left;
}

.timeline-item:nth-child(even) {
    left: 0;
    padding-right: 40px;
    text-align: right;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 16px;
    height: 16px;
    background-color: #f97316;
    /* Orange-500 */
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 0 2px #f97316;
}

.timeline-item:nth-child(odd)::before {
    left: -8px;
}

.timeline-item:nth-child(even)::before {
    right: -8px;
}